In [7]:
#import desired packages
import tensorflow as tf
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

Above are the requried libraries required for the task
Model will go thought the data and will recognize the patterns that are in the data. According to the patterns it will recomend the student to study a perticular chapter that he is week in. Model knows the students weakest chapter through the pattern of mistakes he made in given questions. Model does this using regression algorithm

In [8]:
#import data 
data=pd.read_csv('arun_TASK1.txt', names=['q1','q2','q3','q4','q5'])

Above code is to read the datasets from the csv file and name the columns

In [9]:
#shows data
data

    q1  q2  q3  q4       q5
0    0   0   0   1  chapone
1    0   0   1   0  chapone
2    0   0   1   1  chapone
3    0   1   0   0  chapone
4    0   1   0   1  chapone
5    0   1   1   0  chaptwo
6    0   1   1   1  chaptwo
7    1   0   0   0  chaptwo
8    1   0   0   1  chaptwo
9    1   0   1   0  chaptwo
10   1   0   1   1  chaptri
11   1   1   0   0  chaptri
12   1   1   0   1  chaptri
13   1   1   1   0  chaptri
14   1   1   1   1  chaptri

In [10]:
data["q5"].value_counts()

chaptwo    5
chapone    5
chaptri    5
Name: q5, dtype: int64

Above code is to count the number of specific traing examples present in the dataset

In [11]:
#map data into arrays
on=np.asarray([1,0,0])
tw=np.asarray([0,1,0])
tr=np.asarray([0,0,1])
data['q5'] = data['q5'].map({'chapone': on, 'chaptwo': tw,'chaptri':tr})

Above code is to name the specific example, in our case names of chapters and giving them numerical identities

In [12]:
data

    q1  q2  q3  q4         q5
0    0   0   0   1  [1, 0, 0]
1    0   0   1   0  [1, 0, 0]
2    0   0   1   1  [1, 0, 0]
3    0   1   0   0  [1, 0, 0]
4    0   1   0   1  [1, 0, 0]
5    0   1   1   0  [0, 1, 0]
6    0   1   1   1  [0, 1, 0]
7    1   0   0   0  [0, 1, 0]
8    1   0   0   1  [0, 1, 0]
9    1   0   1   0  [0, 1, 0]
10   1   0   1   1  [0, 0, 1]
11   1   1   0   0  [0, 0, 1]
12   1   1   0   1  [0, 0, 1]
13   1   1   1   0  [0, 0, 1]
14   1   1   1   1  [0, 0, 1]

In [14]:
#shuffle the data
data=data.iloc[np.random.permutation(len(data))]

In [15]:
data

    q1  q2  q3  q4         q5
2    0   0   1   1  [1, 0, 0]
8    1   0   0   1  [0, 1, 0]
10   1   0   1   1  [0, 0, 1]
4    0   1   0   1  [1, 0, 0]
5    0   1   1   0  [0, 1, 0]
11   1   1   0   0  [0, 0, 1]
0    0   0   0   1  [1, 0, 0]
1    0   0   1   0  [1, 0, 0]
12   1   1   0   1  [0, 0, 1]
6    0   1   1   1  [0, 1, 0]
7    1   0   0   0  [0, 1, 0]
9    1   0   1   0  [0, 1, 0]
13   1   1   1   0  [0, 0, 1]
14   1   1   1   1  [0, 0, 1]
3    0   1   0   0  [1, 0, 0]

In [16]:
# resets the indexes of the shuffeled data
data=data.reset_index(drop=True)

In [17]:
data

    q1  q2  q3  q4         q5
0    0   0   1   1  [1, 0, 0]
1    1   0   0   1  [0, 1, 0]
2    1   0   1   1  [0, 0, 1]
3    0   1   0   1  [1, 0, 0]
4    0   1   1   0  [0, 1, 0]
5    1   1   0   0  [0, 0, 1]
6    0   0   0   1  [1, 0, 0]
7    0   0   1   0  [1, 0, 0]
8    1   1   0   1  [0, 0, 1]
9    0   1   1   1  [0, 1, 0]
10   1   0   0   0  [0, 1, 0]
11   1   0   1   0  [0, 1, 0]
12   1   1   1   0  [0, 0, 1]
13   1   1   1   1  [0, 0, 1]
14   0   1   0   0  [1, 0, 0]

In [18]:
# splitting the data
#training data
x_input=data.ix[0:10,['q1','q2','q3','q4']]
temp=data['q5']
y_input=temp[0:11]
#test data
x_test=data.ix[11:14,['q1','q2','q3','q4']]
y_test=temp[11:15]

c:\python36\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [19]:
#placeholders and variables. input has 4 features and output has 3 classes
x=tf.placeholder(tf.float32,shape=[None,4])
y_=tf.placeholder(tf.float32,shape=[None, 3])
#weight and bias
W=tf.Variable(tf.zeros([4,3]))
b=tf.Variable(tf.zeros([3]))

Placeholder simply allocates block of memory for future use. Later, we can use feed_dict to feed the data into placeholder. By default, placeholder has an unconstrained shape, which allows you to feed tensors of different shapes in a session. 
Variable in tensorflow as a normal variables which we use in programming languages. We initialize variables, we can modify it later as well.

In [20]:
# model 
#softmax function for multiclass classification
y = tf.nn.softmax(tf.matmul(x, W) + b)

Softmax function is normaly used in the last layer of a neural network, normaly network with a cross entropy in it to finalize the output.As our model is regression we use softmax to choose the final output.

In [21]:
#loss function
cross_entropy = tf.reduce_mean(-tf.reduce_sum(y_ * tf.log(y), reduction_indices=[1]))

cross entropy is propability distribution, we calculate the propability of occurence of a possibility in our case the weakest chaper of a perticular student.

In [22]:
#optimiser -
train_step = tf.train.AdamOptimizer(0.01).minimize(cross_entropy)
#calculating accuracy of our model 
correct_prediction = tf.equal(tf.argmax(y,1), tf.argmax(y_,1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))

The Adam optimization algorithm is an extension to stochastic gradient descent that has recently seen broader adoption for deep learning applications in computer vision and natural language processing.

In [23]:
#session parameters
sess = tf.InteractiveSession()
#initialising variables
init = tf.initialize_all_variables()
sess.run(init)
#number of interations
epoch=2000

WARNING:tensorflow:From c:\python36\lib\site-packages\tensorflow\python\util\tf_should_use.py:118: initialize_all_variables (from tensorflow.python.ops.variables) is deprecated and will be removed after 2017-03-02.
Instructions for updating:
Use `tf.global_variables_initializer` instead.

sessions are the diffrent blocks of code interactive session makes it simple and easy to write code in diffrent blocks and run them at the convenince and makes it easy to understand the code.

In [27]:
for step in range(epoch):
   _, c=sess.run([train_step,cross_entropy], feed_dict={x: x_input, y_:[t for t in y_input.as_matrix()]})
   if step%100==0 :
       print(c)

0.093452625
0.08630579
0.079830654
0.073952176
0.06860471
0.06373082
0.059280027
0.055208184
0.051476303
0.04805006
0.044899102
0.041996717
0.039319217
0.03684539
0.03455658
0.032435995
0.030468734
0.02864148
0.026942134
0.02536013

Above shows learning rate for every 100 steps

In [1]:
#random testing at Sn.130
a=data.ix[7,['q1','q2','q3','q4']]
b=a.reshape(1,4)
largest = sess.run(tf.argmax(y,1), feed_dict={x: b})[0]
if largest==0:
    print("please study chapter one")
elif largest==1:
    print("you need to concentrate on chapter two ")
else :
    print("you should learn chapter three")

NameError: name 'data' is not defined

Reshape gives a new shape to an array without changing its data

In [29]:
print(sess.run(accuracy,feed_dict={x: x_test, y_:[t for t in y_test.as_matrix()]}))

0.75

Above shows the accuracy of the model